<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.aohuan.dodo.coordinator" >

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:theme="@style/AppTheme" >
        <activity
            android:name=".MainActivity"
            android:label="@string/app_name" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".do1.Main1Activity"
            android:label="@string/title_activity_main1" />
        <activity
            android:name=".do2.Main2Activity"
            android:label="@string/title_activity_main2" />
        <activity
            android:name=".do0.Main0Activity"
            android:label="@string/title_activity_main0" />
        <activity
            android:name=".don0.MainN0Activity"
            android:label="@string/title_activity_main_n0" />
        <activity
            android:name=".do3.Main3Activity"
            android:label="@string/title_activity_main3" />
        <activity
            android:name=".do4.Main4Activity"
            android:label="@string/title_activity_main4"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".do5.Main5Activity"
            android:label="@string/title_activity_main5"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".do6.Main6Activity"
            android:label="@string/title_activity_main6"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".don1.MainN1Activity"
            android:label="@string/title_activity_main_n1" >
        </activity>
        <!--<activity-->
            <!--android:name=".do7.Main7Activity"-->
            <!--android:label="@string/title_activity_main7" >-->
        <!--</activity>-->
    </application>

</manifest>
