<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.aohuan.dodo.coordinator">

    <!-- To auto-complete the email text field in the login form with the user's emails -->
    <uses-permission android:name="android.permission.GET_ACCOUNTS" />
    <uses-permission android:name="android.permission.READ_PROFILE" />
    <uses-permission android:name="android.permission.READ_CONTACTS" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:theme="@style/AppTheme">
        <activity
            android:name=".MainActivity"
            android:label="@string/app_name"
            android:theme="@style/AppBaseTheme">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".do_.do1.Main1Activity"
            android:label="@string/title_activity_main1" />
        <activity
            android:name=".do_.do2.Main2Activity"
            android:label="@string/title_activity_main2" />
        <activity
            android:name=".do_.do0.Main0Activity"
            android:label="@string/title_activity_main0" />
        <activity
            android:name=".don.don0.MainN0Activity"
            android:label="@string/title_activity_main_n0" />
        <activity
            android:name=".do_.do3.Main3Activity"
            android:label="@string/title_activity_main3" />
        <activity
            android:name=".do_.do4.Main4Activity"
            android:label="@string/title_activity_main4"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".do_.do5.Main5Activity"
            android:label="@string/title_activity_main5"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".do_.do6.Main6Activity"
            android:label="@string/title_activity_main6"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".don.don1.MainN1Activity"
            android:label="@string/title_activity_main_n1" />
        <!-- <activity -->
        <!-- android:name=".do7.Main7Activity" -->
        <!-- android:label="@string/title_activity_main7" > -->
        <!-- </activity> -->
        <activity
            android:name=".doa.doa0.MainA0Activity"
            android:label="@string/title_activity_main_a0" />
        <activity
            android:name=".doa.doa1.MainA1Activity"
            android:label="@string/title_activity_main_a1" />
        <activity
            android:name=".doa.doa2.MainA2Activity"
            android:label="@string/title_activity_main_a2" />
        <activity
            android:name=".doa.doa4.MainA4Activity"
            android:label="@string/title_activity_main_a4" />
        <activity
            android:name=".doa.doa3.MainA3Activity"
            android:label="@string/title_activity_main_a3" />
        <activity
            android:name=".doa.doa5.MainA5Activity"
            android:label="@string/title_activity_main_a5"
            android:theme="@style/AppTheme" />
        <activity
            android:name=".don.don3.MainN3Activity"
            android:label="@string/title_activity_main_n3"
            android:theme="@style/AppTheme" />
        <activity
            android:name=".don.don2.MainN2Activity"
            android:label="@string/title_activity_main_n2"
            android:theme="@style/AppTheme" />
    </application>

</manifest>
